{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    {% for category in categories %}
            <li class="list-group-item"><a href="{{ path('category', {'id':category.id}) }}">{{ category.CategoryName }}</a></li>
    {% endfor %}
         

    {% for module in ModuleByCategory %}
       <div class="card" style="width: 18rem;">
                <li class="list-group-item etat">
                    <div class="circleGreen"></div>
                    <div class="circleOrange"></div>
                    <div class="circleRed"></div>
                </li>
                <img src="{{asset('img/module/' ~ module.image)}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Module n°{{module.number}}</h5>
                    <h5 class="card-title">{{module.name}}</h5>
                    <p class="card-text">Type : {{module.category.CategoryName}}</p>
                    <p class="card-text">{{module.description}}</p>
                    <a href="{{path('edit', {id: module.id})}}" class="btn btn-primary">Modifier</a>
                    <a href="{{path('delete', {id: module.id})}}" class="btn btn-primary">Supprimer</a>
                </div>
            </div>
    {% endfor %}


{% endblock %}
