{% extends 'base.html.twig' %}

{% block title %}Hello ModulesController!{% endblock %}

{% block body %}

<div class="homeCover">
    <h1 class="col-lg-8">Vos modules</h1>
    <p class="m-5">Depuis plusieurs années, les objets connectés à internet se multiplient, c'est pourquoi nous proposons des solutions efficaces afin que vous puissiez gérer et visualiser au mieux vos modules.</p>
</div>

    <div class="AllModule">

        {% for module in modules %}
            <div class="card" style="width: 18rem;">
                <li class="list-group-item etat">
                    <div class="circleGreen"></div>
                    <div class="circleOrange"></div>
                    <div class="circleRed"></div>
                </li>
                <img src="{{asset('img/module/montre.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Module n°{{module.number}} : {{module.name}}</h5>
                    <p class="card-text">{{module.type}}</p>
                    <p class="card-text">{{module.description}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% endfor %}
        
    </div>


{% endblock %}
